img {
    cursor: pointer;
    width: 100%;
    display: block; /*quita espaciado debajo las imagenes */
}
img:hover {
    filter: brightness(70%);
}
td {
    width: 25px;
    height: 25px;
    padding: 0;
    border-style: inset;
    border-color: gray;
}
p {
    padding: 0;
    margin: 0;    
    text-align: center;
    font-weight: 600;
}
table {
    border-collapse: collapse;
    margin: 10px;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    background-color: rgb(32, 213, 32);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: green;    
}